.partnersSection {
  padding: 80px 0;
  background-color: #F6F6F6;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: bold;
}

.partnersCarousel {
  padding: 0;
}

.partnerLogos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.partnerLogo {
  max-width: 260px;
  max-height: 100px;
  object-fit: contain;
}

/* Custom carousel controls */
.partnersCarousel :global(.carousel-control-prev),
.partnersCarousel :global(.carousel-control-next) {
  background-color: gray;
  border-radius: 6px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  padding: 0px;
  width: fit-content;
  height: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.partnersCarousel :global(.carousel-control-prev-icon),
.partnersCarousel :global(.carousel-control-next-icon) {
  background-image: url("../../assets/icons/next.svg");
  width: 40px;
  height: 40px;
}
.partnersCarousel :global(.carousel-control-prev-icon) {
  transform: rotate(180deg);
}

.partnersCarousel :global(.carousel-control-prev) {
  left: 0px;
}

.partnersCarousel :global(.carousel-control-next) {
  right: 0px;
}
