.banner {
  background-image: url('../../assets/images/banner/bgr.png');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.content {
  height: 880px;
}

.box {
  z-index: 1;
  backdrop-filter: blur(4px);
  background-color: rgb(255 255 255 / 0%);  
  padding: 2rem;
  border-radius: 50% 50% 20px 10px;
}
.title {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  margin-bottom: 2rem;
  position: relative;
  font-weight: 900;
}
.fairy {
  position: absolute;
  bottom: -2rem;
  left: 0;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .fairy {
    height: 50%;
  }
}
@media screen and (max-width: 900px) {
  .title {
    font-size: 3rem;
  }
  .content {
    height: 480px;
  }
}
